.btn{
    background-color: $primary;
    border: none;
    color: white;
    cursor: pointer;
    padding: 7px 10px 7px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 50px;
    transition: background-color .5s ease;

    &:focus{
        outline: none;
    }
    &:hover{
        background-color: darken($color: $primary, $amount: 10);
    }
}

.btn-primary{
    width: 75%;
}


.btn-medium{
    background-color: $primary;
    border: none;
    border-radius: 10px;
    width: 200px;
    color: white;
    height: 35px;
    transition: background-color .5s ease;
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: darken($color: $primary, $amount: 5);
    }
}

.link-dec{
    text-decoration: none;
    color: $white;
}

.link-navbar{
    text-decoration: none;
    color: $dark-grey;
    transition: color .3s ease;
    margin-bottom: 0;
    cursor: pointer;
    &:hover{
        color: darken($color: $dark-grey, $amount: 15);
    }
}

.home__btn{
    border-radius: 18px;
    color: white;
    background-color: darken($color: $primary, $amount: 10);
    border: none;
    width: 300px;
    height: 70px;
    cursor: pointer;
    transition: background-color .5s ease;
    font-size: 20px;
    &:focus{
        outline: none;
    }

    &:hover{
        background-color: darken($color: $primary, $amount: 20);
    }
}

.temas-btn{
    background-color: $second-primary;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 45px;
    margin-left: 5%;
    transition: background-color .5s ease;
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: darken($color: $primary, $amount: 5);
    }
}

.ml-0{
    margin-left: 0%;
}
.resize-2{
    width: 200px;
    height: 50px;
}

.temas-btn-carrito{
    background-color: lighten($color: orange, $amount: 15);
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    cursor: pointer;
    margin-top: 10%;
    
    transition: background-color .5s ease;
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: darken($color: orange, $amount: 5);
    }
}

.resize{
    width: 150px;
}

.google-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 75%;
    height: 50px;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 50px;
        height: 50px;
        border-radius: 2px;
        background-color: $white;
    }
    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 25px;
        height: 25px;
    }
    .btn-text {
        text-align: center;
        margin-top: 10px;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}

.btn-facebook{
    width: 75%;
    height: 50px;
    color: white;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: $facebook;
    &:hover{
        background-color: darken($color: $facebook, $amount: 5);
    }
}


.btn-material{
    border: 1px solid grey;
    color: grey;
    width: 150px;
    height: 50px;
    padding-top: 12px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}


.btn-radio:checked + label{
    color: white;
    border: 1px solid white;
    background-color: $primary;
    width: 150px;
    height: 50px;
    padding-top: 12px;
    border-radius: 10px;
    text-align: center;
    transition: background-color .5s ease;
}

.btn-radio-second:checked + label{
    color: white;
    border: 1px solid white;
    background-color: $primary;
    width: 150px;
    height: 50px;
    padding-top: 12px;
    border-radius: 10px;
    text-align: center;
    transition: background-color .5s ease;
}