.cart__list-container{
    margin-top: 4%;
    display: flex;
    align-items: center;
}
.cart__item-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.cart__item-desc{
    padding-left: 4%;
}
.cart__icons-container{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.cart__icons{
    font-size: 20px;
    color: $second-primary;
    cursor: pointer;
    &:hover{
        color: darken($color: $second-primary, $amount: 10);
    }
}
.cart__item-title{
    font-size: 20px;
}
.delete{
    color: red;
    &:hover{
        color: darken($color: red, $amount: 10);
    }
}

.cart__container-total{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
    padding-bottom: 6%;
}

.cart__horizontal-total{
    display: flex;
    justify-content: space-between;
}
.cart__p-align{
    margin-right: 6em;
}

.input__card-field{
    border: 1px solid $light-grey;
    width: 100%;
    height: 50px;
    padding-left: 35px;

    &:focus{
        border: 1px solid $primary;
        outline: none;
    }
}

.input-container{
    display: flex;
    flex-direction: column;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: $primary;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-number-card{
    border: 1px solid $light-grey;
    width: 100%;
    transition: border .4s ease;
    height: 50px;
    
    &:focus{
        border: 1px solid $primary;
        outline: none;
    }
}
.footer-inputs{
    display: flex;
}
.inputs-container-foot{
    display: flex;
    width: 100%;
}

.input-with-icon{
    display: flex;
    margin-bottom: 15px;
}
.cart__select-zones{
    width: 100%;
    height: 50px;
    border: 1px solid $light-grey;
    outline: none;
    cursor: pointer;


    &:focus{
        border: 1px solid $primary;
    }
}

.cart__total-color{
    font-size: 20px;
    color: $primary;
}

.text-area-direccion{
    border: 1px solid $light-grey;
    width: 100%;
    transition: border .4s ease;
    height: 100px;
    
    &::placeholder{
        padding-top: 30px;
        padding-left: 10px;
    }
    &:focus{
        border: 1px solid $primary;
        outline: none;
    }
}

.checkout-button{
    background-color: $primary;
    outline: none;
    border: 1px solid $light-grey;
    border-radius: 5px;
    height: 50px;
    width: 175px;
    color: white;
    transition: background-color .3s ease;
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: darken($color: $primary, $amount: 5);
    }
    
}


