.related__main-container{
    margin-top: 5%;
    width: 75%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 5%;
}

.related__color-c{
    margin-top: 5%;
    color: $second-primary;
}