.selled__image-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}
.selled__imagen{
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: width .6s ease;
    cursor: pointer;
    &:hover{
        width: 330px;
    }
}
.selled__images-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selled__title-image{
    margin-top: 5%;
}
.selled__price-image{
    margin-top: 5%;
    color: $primary;
}