.auth__container{
    display: -webkit-flex;
  
}

.auth__image{
    margin-top: 1%;
    height: 100%;
    width: 100%;
}

.auth__image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.auth__right-container{
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.auth__mini-nav{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 4rem;
    width: 75%;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.auth__form{
    text-align: center; 
    width: 100%;
}

.auth__input{
    border: 1px solid #BCBCBC;
    width: 75%;
    transition: border .4s ease;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 5%;
    padding-left: 1rem;
}
.auth__input:focus{
    border: 1px solid #21AB91;
    outline: none;
}

.auth__h2-align{
    color: #21AB91;
    margin-bottom: 5%;
}

.auth__social-networks {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    width: 100%;
}

.auth__alert-error {
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
}

/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 300px) and (max-width: 1024px){
    .auth__container{
        flex-direction: column;
    }
    .auth__right-container{
        width: 100%;
    }
    .auth__mini-nav{
        width: 100%;
    }
    .google-icon-wrapper{
        display: none;
    }
}