.btn-own{
    background-color: #21AB91;
    border: none;
    color: white;
    cursor: pointer;
    padding: 7px 10px 7px 10px;
    border-radius: 10px;
    margin-bottom: 5%;
    height: 50px;
    transition: background-color .5s ease;
}
.btn-own:focus{
    outline: none;
}
.btn-own:hover{
    background-color: #18836f;
}

.btn-primary{
    width: 75%;
}


.btn-medium{
    background-color: #21AB91;
    border: none;
    border-radius: 10px;
    width: 200px;
    color: white;
    height: 35px;
    transition: background-color .5s ease;
}

.btn-medium:focus{
    outline: none;
}
.btn-medium:hover{
    background-color: #187a68;
}

.link-dec{
    text-decoration: none;
    color: white;
}

.link-navbar{
    text-decoration: none;
    color: #838383;
    transition: color .3s ease;
    margin-bottom: 0;
    cursor: pointer;
}
.link-navbar:hover{
    color: #666666;
}

.home__btn{
    border-radius: 18px;
    color: white;
    background-color: #166e5e;
    border: none;
    width: 300px;
    height: 70px;
    cursor: pointer;
    transition: background-color .5s ease;
    font-size: 20px;
}
.home__btn:focus{
    outline: none;
}
.home__btn:hover{
    background-color: #19836f;
}

.temas-btn{
    background-color:#21AB91;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 45px;
    margin-left: 5%;
    transition: background-color .5s ease;
}
.temas-btn:focus{
    outline: none;
}
.temas-btn:hover{
    background-color: #147765;
}

.ml-0{
    margin-left: 0%;
}
.resize-2{
    width: 200px;
    height: 50px;
}

.temas-btn-carrito{
    background-color: orange;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    cursor: pointer;    
    transition: background-color .5s ease;

}
.temas-btn-carrito:focus{
    outline: none;
}
.temas-btn-carrito:hover{
    background-color: rgb(187, 121, 0)
}

.resize{
    width: 150px;
}

.google-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 75%;
    height: 50px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;
}
.google-btn:hover{
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active{
    background: #1669f2;
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    background-color: white;
}
.google-icon {
    
    margin-top: 11px;
    margin-left: 11px;
    width: 25px;
    height: 25px;
}
.btn-text {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.btn-facebook{
    width: 75%;
    height: 50px;
    color: white;
    margin-bottom: 5%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #3b5998;
}
.btn-facebook:hover{
    background-color: #2b4172;
}

.btn-material{
    border: 1px solid grey;
    color: grey;
    width: 150px;
    height: 50px;
    padding-top: 12px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}


.btn-radio:checked + label{
    color: white;
    border: 1px solid white;
    background-color: #21AB91;;
    width: 150px;
    height: 50px;
    padding-top: 12px;
    border-radius: 10px;
    text-align: center;
    transition: background-color .5s ease;
}

.btn-radio-second:checked + label{
    color: white;
    border: 1px solid white;
    background-color: #21AB91;
    width: 150px;
    height: 50px;
    padding-top: 12px;
    border-radius: 10px;
    text-align: center;
    transition: background-color .5s ease;
}

.detail-button{
    background-color: #21AB91;
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
}
.detail-button:hover{
    color: rgba(255, 255, 255, 0.692);
    text-decoration: none;
}