.cart__list-container{
    margin-top: 4%;
    display: flex;
    align-items: center;
}
.cart__item-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.cart__item-desc{
    padding-left: 4%;
}
.cart__icons-container{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.cart-empty-message{
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.cart__icons{
    font-size: 20px;
    color: #21AB91;
    cursor: pointer;
}
.cart__icons:hover{
    color: #1c8673;
}
.cart__item-title{
    font-size: 20px;
}
.delete{
    color: red;
}
.delete:hover{
    color: rgb(177, 6, 6)
}

.cart__container-total{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
    padding-bottom: 6%;
}

.cart__horizontal-total{
    display: flex;
    justify-content: space-between;
}
.cart__p-align{
    margin-right: 6em;
}

.input__card-field{
    border: 1px solid #BCBCBC;
    width: 100%;
    height: 50px;
    padding-left: 35px;
    border-bottom-right-radius: 10px;
}
.input__card-field:focus{
    border: 1px solid #21AB91;
    outline: none;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #21AB91;
    color: white;
    min-width: 50px;
    text-align: center;
    font-size: 22px;
}

.input-number-card{
    border: 1px solid #BCBCBC;;
    width: 100%;
    transition: border .4s ease;
    height: 50px;
    border-bottom-right-radius: 10px;
}
.input-number-card:focus{
    border: 1px solid #21AB91;;
    outline: none;
}

.footer-inputs{
    display: flex;
}
.inputs-container-foot{
    display: flex;
    width: 100%;
}

.input-with-icon{
    display: flex;
    margin-bottom: 15px;
}
.cart__select-zones{
    width: 100%;
    height: 50px;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    outline: none;
    cursor: pointer;

}
.cart__select-zones:focus{
    border: 1px solid #21AB91;
}
.cart__total-color{
    font-size: 20px;
    color: #21AB91;
}

.text-area-direccion{
    border: 1px solid #BCBCBC;
    width: 100%;
    transition: border .4s ease;
    height: 100px;
    border-bottom-right-radius: 10px
    
}
.text-area-direccion::placeholder{
    padding-top: 30px;
    padding-left: 10px;
}
.text-area-direccion:focus{
    border: 1px solid #21AB91;;
    outline: none;
}


.checkout-button{
    background-color: #21AB91;
    outline: none;
    border: 1px solid #BCBCBC;
    border-radius: 5px;
    height: 50px;
    width: 175px;
    color: white;
    transition: background-color .3s ease;
    
}

.checkout-button:focus{
    outline: none;
}

.checkout-button:hover{
    background-color: #166e5e;
}
/* Smartphones (portrait and landscape) ----------- */
@media(min-width: 200px) and (max-width: 600px){
    .cart__img-container{
        display: flex;
        justify-content: center;
    }
    .cart__list-container{
        flex-direction: column;
    }
    .input-with-icon{
        padding-left: 10px;
        padding-right: 10px;
    }
    .label-forms{
        padding-left: 10px;
        padding-right: 10px;
    }
    .inputs-container-foot{
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

@media (max-width: 400px){
    .cart__select-zones{
        width: 310px;
        margin-left: 10px;
    }
    .cart__container-divs-total{
        margin-top: 2rem;
    }
}

