.foot__main-container{
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.foot__upper-div{
    background-color:#205B50;;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    padding-top: 1%;
}

.foot__bottom-div{
    background-color: #277566;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 1%;
}

.foot__left-part{
    display: -webkit-flex;
    flex-direction: column;
}


.foot__phone{
    display: -webkit-flex;
    color: white;
    font-size: 21px;
    justify-content: space-between;
}
.foot__links{
    text-decoration: none;
    color: #58C7B2;
    font-size: 25px;
    font-weight: bold;
}
.foot__links:hover{
    color:  #459c8c;
}

.a-color{
    color: white;
    font-size: 40px;
    margin-right: 2%;
}

.foot__social-icons{
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.foot__sticky-note{
    color: red;
    margin: 0;
}

.mb-5{
    margin-bottom: 5%;
}
.mb-10{
    margin-bottom: 10%;
}
.mr-2{
    margin-right: 2%;
}
/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 300px) and (max-width: 1090px){
    .foot__upper-div{
        flex-wrap: wrap;
    }
    .foot__social-icons{
        justify-content: center;
    }
    .align-text{
        text-align: center;
    }
    .foot__phone{
        flex-direction: column;
        align-items: center;
    }
}

