.home__main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.home__separator{
    display:flex;
    align-items: center;
}

.home__text{
    text-align: center;
    color: black;
    font-size: 35px;
    
}

.home__line1{
    width: 150px;
    height: 3px;
    background-color: #31B199;
}
.home__line2{
    width: 150px;
    height: 3px;
    background-color: #31B199;
}

.home__canvas-text-container{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    width: 65%;
}

.home__span{
    color: #21AB91;
    font-size: 35px;
    
}
.home__canvas-text{
    color: #31B199;
    font-size: 63px;
    font-weight: lighter;
}
.home__paragraph-p{
    margin-left: 10%;
    color: #868686;
    font-size: 20px;
    font-weight: lighter;
} 

.home__photos-container{
    margin-top: 5%;
    width: 75%;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-bottom: 5%;
}

.home__photo-item{
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__photo-title{
    margin-top: 15%;
}


.home__tablet-part{
    width: 100vw;
    background-color: #21AB91;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 6%;
}

.home__aun-no{
    color: white;
    font-size: 56px;
    margin-bottom: 15%;
}
.home__envia-p{
    color: white;
    font-size: 33px;
    margin-bottom: 15%;
}

.home__cuadro-part{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 7%;
}

.home__tienes{
    color: #868686;
    font-size: 56px;
    margin-bottom: 15%;
}
.home__preocupes-p{
    color: #42bda5;
    font-size: 33px;
    margin-bottom: 15%;
}

@media (max-width: 1366px){
    .home__canvas-text-container{
        width: 75%;
    }
}

@media (max-width: 920px){
    .home__canvas-text-container{
        width: 85%;
    }
}

@media (max-width: 855px){
    .home__canvas-text-container{
       flex-direction: column;
    }

    .home__tablet-part{
        flex-direction: column;
    }
    .home__tablet-part img{
        width: 300px;
    }

    .home__cuadro-part{
        flex-direction: column;
    }
    .home__cuadro-part img{
        width: 200px;
    }
}