.header {
    display: -webkit-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    width: 100%;
  }
  .logo-nav {
    display: -webkit-flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .logo-container {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .nav-options {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
    list-style-type: none;
    padding-top: 50px;
  }
  .mobile-option {
    display: none;
  }
  
  .option :hover {
    color: white;
  }
  .signin-up {
    display: -webkit-flex;
    padding: 0px 5px;
    width: 35%;
    justify-content: space-between;
    list-style-type: none;
  }
  .sign-in {
    align-self: center;
  }
  .signup-btn {
    padding: 10px 10px;
    height: 2.4rem;
    border-radius: 3px;
    background: rgb(222, 9, 241);
    color: white;
    cursor: pointer;
    align-items: center;
  }
  .mobile-menu {
    display: none;
  }

  .navbar__search-input{
        width: 100%;
        border: 2px solid  #42bda5;;
        border-radius: 30px;
        height: 32px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 15px;
        color: #3D3D3C;
        font-weight: 400;
        padding-left: 15px;
        padding-right: 20px;
    }
    .navbar__search-input:focus{
      outline: none;
    }
.navbar__search-button{
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    color: #42bda5;
    position: relative;
    right: 44px;
    top: 1px;
    cursor: pointer;

}
.navbar__search-button:hover{
  outline: none;
  color: #3a9c89;
}


.navbar__shopping-cart-icon{
    color: #42bda5;
    transition: color .4s ease;

}
.navbar__shopping-cart-icon:hover{
  color: #318d7b;
}
.input-search{
  display: -webkit-flex;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.navbar__total{
  margin: -8px;
  text-align: center;
  height: 25px;
  width: 25px;
  padding-bottom: 25px;
  color: white;
  background-color: orange;
  border-radius: 50%;
  font-weight: bold;
}

@media (min-width: 1024px){
  .input-search{
    display: none;
  }
}
/* Smartphones (portrait and landscape) ----------- */
  @media(min-width: 300px) and (max-width: 1024px) {

    .header {
      padding: 0px 10px;
      justify-content: space-between;
    }
    .logo {
      width: 45px;
      height: 45px;
    }
    .link-navbar{
        color: white;
    }
    .nav-options {
      display: -webkit-flex;
      width: 100%;
      height: 675px;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
    }
    .nav-options.active {
        display: -webkit-flex;
        flex-direction: column;
        text-align: center;
        background:#42bda5;;
        margin-top: 100px;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding-left: 0px;
    }
  
    .menu-icon {
      width: 45px;
      height: 45px;
    }
    .option {
      display: -webkit-flex;
      align-items: center;
      justify-content: center;
      height: 10vw;
      padding: 30px 0px;
    }
    .sign-up {
      background: rgb(222, 9, 241);
      border-radius: 3px;
      color: white;
      padding: 20px 0px;
      width: 80%;
      align-self: center;
      border-radius: 3px;
    }
  
    .signin-up {
      display: none;
    }
  }
  .mobile-menu {
    display: block;
  }
  
