.related__main-container{
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 33% 33% 33%;

}

.related__color-c{
    margin-top: 5%;
    color: #21AB91;
}

@media (min-width: 300px) and (max-width: 900px){
    .related__main-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

