.temas__tema-container{
    margin-top: 6%;
    display: flex;
    width: 75%;
}

.temas__garantia{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.temas__garantia-p{
    font-size: 24px;
    text-align: center;
}

.temas__info-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 5%;
}

.temas__info-p{
    font-size: 24px;
}
.temas__info-h1{
    font-size: 60px;
    color: #31B199;
    padding-bottom: 10%;
    text-align: center;
}
.temas__materiales{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4%;
}
.temas__btn-title{
    color: #277566;
    text-align: center;
    font-size: 30px;
}
.temas__empty-space{
    width: 50%;
    display: flex;
    align-items: center;
}

.imagen__tarjeta{
    width: 200px;
    height: 190px;
    object-fit: cover;
}

.temas__buy-container{
    display: flex;
    width: 75%;
    padding-top: 6%;
    padding-bottom: 6%;
    justify-content: space-between;
}

.temas__div-cantidad{
    display: flex;
    align-items: center;
}

.temas__input-cantidad{
    border-radius: 10px;
    border: 2px solid #BCBCBC;
    outline: none;
    height: 50px;
    width: 60px;
    transition: border-color .3s ease;
    font-size: 30px;
    text-align: center;
    color: #868686;;

}
.temas__input-cantidad:focus{
    border-color: #21AB91;
}
.temas__input-cantidad::-webkit-inner-spin-button{
    opacity: 1;
}

.temas__buy-container-right{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.temas__imagen{
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.temas__themes-container{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-top: 6%;
    margin-bottom: 7%;
    justify-content: center;   
}

.temas__search-container{
    display: flex;
    width: 80%;
    justify-content: center;
    padding-top: 6%;
}

.temas__wrap-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.temas__side-bar{
    display: flex;
    flex-direction: column;
}

.temas__link-temas{
    margin-top: 7%;
    color: #868686;
}
.temas__link-temas:hover{
    color: #616161;
}

.temas__no-cuadros{
    text-align: center;
    color: #868686;
    margin-top: 10%;
    padding-bottom: 20%;
}

.temas__title-busqueda{
    text-align: center;
    color: #868686;
}
.temas__span-busqueda{
    color: #21AB91;
}

.temas__width-select{
    width: 100%;
}

.temas__precio-cuadro{
    font-size: 25px;
    margin-top: 5%;   
}

.btn-div-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.prueba-msg{
    font-size: 30px;
}

/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 1200px) and (max-width: 1366px){
    .temas__imagen{
        width: 500px;
        height: 500px;
    }

}
/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 300px) and (max-width: 1024px){
    .temas__empty-space{
        flex-direction: column;
        width: 100%;
    }

}

/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 300px) and (max-width: 1024px){
    .temas__imagen{
        width: 300px;
        height: 300px;
    }
    
}
/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 300px) and (max-width: 920px){
    .temas__tema-container{
        flex-direction: column;
    }
    .temas__image-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .temas__search-container{
        flex-direction: column;
    }
    .temas__side-bar{
        align-items: center;
        justify-content: space-around;
    }
    .temas__garantia{
        display: none;
    }
    .temas__info-h1{
        display: none;
    }
    .temas__info-h1-movil{
        font-size: 60px;
        color: #31B199;
        padding-bottom: 10%;
        text-align: center;
    }
    .temas__garantia-movil{
        display: flex;
    }
    .temas__check-movil{
        width: 30px;
        height: 30px;
    }
    .temas__querido{
        margin-top: 10px;
        text-align: center;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 680px) and (max-width: 2120px) {
    .temas__garantia-movil{
        display: none;
    }
    .temas__info-h1-movil{
        display: none;
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 300px) and (max-width: 640px){
    .temas__buy-container{
        flex-wrap: wrap;
    }
    .temas__buy-container-right{
        padding-left: 0%;
    }
}

@media (min-width: 300px) and (max-width: 400px){
    .temas__materiales{
        flex-wrap: wrap;
    }
    .temas-btn{
        margin: 1%;
    }
}