//colores
$primary: #21AB91;
$second-primary: #42bda5;
$third-primary: #31B199;
$primary-dark: #277566;
$primary-dark-second: #205B50;
$primary-light: #58C7B2;
$light-grey: #BCBCBC;
$facebook: #3b5998;
$dark-grey: #868686;
$black: #313332;
//button

$white: #fff;
$button-active-blue: #1669f2;

$google-blue: #4285f4;